/tests export-ignore
/.github export-ignore
/.build export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
/composer.lock export-ignore
/testbench.yaml export-ignore
/phpunit.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/pint.json export-ignore
/tests/Experiments/Swoole/*.sh text eol=lf
/tests/Experiments/Swoole/K6Boundary/*.patch text eol=lf whitespace=-space-before-tab
