includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max

    paths:
        - src
        - tests

    tmpDir: .build/phpstan

    scanFiles:
        - vendor/laravel/octane/bin/WorkerState.php
